body {
  background: #ffcbcb;
  text-align: center;
}

a {
  color: #ffb5b5;
}

/*
add ASCII animation
  */






h1 {
  text-align: center;
  font-weight: 800;
  font-size: 36px;
  line-height: 1.5;
  color: #407088;
}

form {
  padding: 30px;
  background-color: white;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
  border-radius: 10px;
  display: flex;
  margin-bottom: 30px;
}

.instructions {
  padding: 16px;
  border: 1px solid rgba (39, 33,
      66, 0.5);
  width: 80%;
  font-size: 16px;
  border-radius: 50px;
  line-height: 20px;
  color: #407088;
}

.container {
  margin: 120px auto;
  max-width: 600px;
}

.submit-button {
  margin-left: 10px;
  background: #ffb5b5;
  color: white;
  border: none;
  width: 150px;
  font-size: 16px;
  border-radius: 50px;
  padding: 14px 24px;
}

.poem {
  font-size: 20px;
  background-color: #407088;
  color: #132743;
  padding: 20px;
  line-height: 24px;
  box-shadow: 0px 20px 60px rgba (65, 50, 100, 0.08);
  ;
}

footer {
  text-align: center;
}

header {
  margin-bottom: 30px;
}

footer {
  text-align: center;
  font-size: 13px;
  margin-top: 30px;
  color: white;
}

footer a {

  color: white;
  text-decoration: none;
}